<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertResult</title>
</head>
<body>
    <div> 
        <h2>@ViewBag.Message</h2>
        <a href="@Url.Action("Index","Scheduleexam")">Go to main page</a>
    </div>
</body>
</html>
